* {
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #6a62d2;
}

body,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.weather-widget {
  width: 500px;
  position: relative;
  margin: 0 auto;
}

.background {
  width: 100%;
}

.overlay {
  height: 322px;
  position: absolute;
  top: 0;
  right: 0;
  width: 240px;
  background: rgba(0, 0, 0, 0.67);
  text-align: center;
  color: #FFF;
}

.icon {
  height: 70px;
}

.degrees {
  font-size: 52px;
  position: relative;
  width: 85px;
  margin: 0 auto;
}

.degrees:after {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 4px solid #fff;
  position: absolute;
  top: 0;
  right: 0;
}

.clouds {
  font-size: 24px;
}

.date, .icon, .degrees, .clouds {
  margin-top: 10px;
}

.footer {
  height: 100px;
  background-color: rgb(0, 0, 35);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
}

.day {
  color: #FFF;
  width: 14.3%;
  position: relative;
}

.day:after {
  content: '';
  background-color: #a0a0ac;
  width: 1px;
  height: 50px;
  position: absolute;
  bottom: 25px;
  right: 1px;
}

.day:last-child:after {
  display: none;
}

.day-content {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.day-icon {
  width: 100%;
}

.day-content > * {
  margin-top: 6px;
}

.test {
  position: relative;
  height:500px;
  background: green;
}

.user-profile {
  width: 420px;
  position: relative;
  background-image: linear-gradient(127deg, #010289 2%, #1d30d5);
  margin: 50px auto;
  padding: 30px;
  color: #FFF;
  font-size: 16px;
}

.row {
  display: flex;
  position: relative;
  margin: 15px 0;
}

.row:first-child {
  margin-top: 0;
}

.row:last-child {
  margin-bottom: 0;
}

.row-avatar {
  justify-content: center;
}

.avatar {
  width: 250px;
  border: 4px solid #FFF;
  border-radius: 50%;
}

.row-statistic {
  justify-content: space-around;
  width: 100%;
}

.statisctic {
  position: relative;
  height: 70px;
  padding: 8px;
  text-align: center;
  width: 150px;
  flex-grow: 1;
  flex-shrink: 1;
}

.statisctic:after {
  content: '';
  background-color: #a0a0ac;
  width: 1px;
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1px;
}

.statisctic:last-child:after {
  display: none;
}

.count {
  font-size: 38px;
}
