.partners {
  &__box {
    margin: 25px auto;
    width: 964px;
    height: 43px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  &__logo {
    height: 30px;
    width: auto;
  }
}