body {
  padding: 0;
  margin: 0;
}

.clock {
  display: flex;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px 0 #a3a3a3;
  max-width: 150px;
  margin: 20px auto;
  font-size: 18px;
  border: none;
  background: transparent;
  &__hourse:after, &__min:after {
    content: ':';
  }
  .day:after, .month:after {
    content: '/';
  }
  & > * {
    padding: 10px;
    flex: 1 1 33%;
    text-align: center;
    position: relative;
    &:after {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
}
