$container-max-width: 1141px;
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  color: #151d28;
}

body {
  min-height: 100vh;
  height: 100%;
  background-color: #f9fbff;
  overflow-x: hidden;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  padding: 0;
  margin: 0;
  font-weight: 400;
}
h1 {
  font-size: 54px;
  color: #415167;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;

}
h2 {
  margin-bottom: 4rem;
  font-size: 1.875rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #415167;
}
h3 {
  font-size: 1.75rem;
  color: #232c38;
}
h4 {
  font-size: 1.25rem;
  text-align: center;
  color: #415167;
}

button,
input,
textarea {
  font-size: 1rem;
  outline: none;
}

.page-section {
  display: flex;
  justify-content: center;
}

.page-container {
  width: 100%;
  max-width: $container-max-width;
  margin: 0 auto;
}
section {
  padding-top: 85px;
  padding-bottom: 43px;
}

