.coffee-base {
  &__components {
    display: flex;
    justify-content: space-between;
  }
  &__component {
    display: flex;
    height: 229px;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;

    .text-box {
      height: 106px;
      text-align: center;
      justify-content: center;
      width: 85%;
      margin: 0 auto;
    }
  }
}