@import "mixins.scss";
.giftset {
  min-height: 802px;
  margin-top: 0;

  &__content {
    position: relative;
  }
  &__tabs-content {
    padding-right: 0;
    padding-left: 0;
    box-shadow: 1px 0 10px 0 rgba(205, 205, 205, 0.5);
  }

  &__tabs-links {
    padding-left: 0;

    button {
      border: 0;
      cursor: pointer;
      transition: filter .2s ease;

      &:not(.active):hover {
        filter: brightness(70%);
      }
    }
  }

  &__tab-content {
    display: none;
  }

  &__tab-content.active {
    display: flex;
    position: relative;
  }

  &__img {
    display: flex;
    position: absolute;
    width: 50%;
    left: -33%;
    height: 460px;
    align-items: center;
    img {
      width: 100%;
      height: auto;
      box-shadow: 0px 30px 15px 0px rgba(205, 205, 205, 0.7);
      z-index: 1;
    }
  }
  &__box {
    display: flex;
    background-color: #fff;
    width: 100%;
    min-height: 460px;
    padding: 64px 7% 64px 30%;
    justify-content: space-between;
    flex-direction: column;
    &-price {
      color: #c7a17a;
    }
  }
  &__specification {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    justify-content: space-between;
    &-tipe {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 55%;
      .logo {
        height: auto;
        width: 40px;
      }
      p {
        width: 75%;
      }
    }
    &-hight {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 40%;
      .logo {
        height: auto;
        width: 40px;
      }
      p {
        width: 65%;
      }
    }
  }
  .buy {
    @include content-btn
  }
  .details {
    color: #415167;
  }
  .tab-link {
    width: 100%;
    display: block;
    height: 33.33%;
    opacity: 0.3;
    background-color: #edf0f5;
    font-size: 30px;
    font-weight: 900;
    transition: all .2s;

    &.active {
      opacity: 1;
      background-color: #fff;
      box-shadow: 1px 0 10px 0 rgba(205, 205, 205, 0.5);
      border-left: solid 1px #edf0f5;
      color: #415167;
      pointer-events: none;
    }
  }
  .choose {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    width: 85%;
  }
}

.page-container__giftset {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 75.6vw;
    height: 100%;
    background-color: #edf0f5;
    z-index: -1;

    @media screen and (max-width: 575px - 1px) {
      display: none;
    }
  }
}

@media screen and (max-width: 768px - 1px) {
  .giftset {
    &__tabs-content {
      width: 100%;
      background-color: #FFFFFF;
      margin-bottom: 80px;
      .active {
        flex-direction: column;
      }

    }
    &__box {
      padding: 64px 10% 64px 10%;
    }
    &__img {
      position: static;
      margin: 0 auto;
      margin-top: 64px;
      height: auto;
    }
    &__tabs-links {
      width: 100%;
      display: flex;
      margin: 0;
      padding: 0;
      .tab-link {
        display: inline-block;
        height: 50px;
      }
    }
    .grid {
      flex-direction: column-reverse;
    }
  }
}

@media screen and (max-width: 575px - 1px) {
  .giftset {
    background-color: #edf0f5;

    &__specification {
      flex-direction: column;
      &-tipe {
        margin-bottom: 15px;
        width: 100%;
      }
      &-hight {
        margin-bottom: 15px;
        width: 100%;
        p {
          width: 75%;
        }
      }
    }
    .choose {
      width: 100%;
    }
  }
}