* {
  box-sizing: border-box; }

html {
  font-size: 12px; }

body {
  max-width: 1440px;
  width: 100%; }

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  padding: 0;
  margin: 0; }

a, p {
  text-decoration: none; }

ul,
ol {
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-family: sans-serif; }

h1 {
  font-size: 5rem; }

h2 {
  font-size: 3.5rem; }

button,
input,
textarea {
  font-size: 1rem;
  outline: none; }

.page-container {
  width: 1140px;
  margin: 0 auto; }

.global-header {
  width: 100vw;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1); }
  .global-header .global-bonus {
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #000000; }
  .global-header .global-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px; }
    .global-header .global-header-content .global-nav {
      width: 530px; }
      .global-header .global-header-content .global-nav__menu {
        display: flex;
        justify-content: space-between;
        align-items: center; }
      .global-header .global-header-content .global-nav__item {
        font-size: 12px;
        text-transform: uppercase;
        line-height: 3.33;
        letter-spacing: 1px;
        font-weight: 600; }
        .global-header .global-header-content .global-nav__item a {
          color: #33333a; }
      .global-header .global-header-content .global-nav__item-active a {
        color: #ff5e1b; }
      .global-header .global-header-content .global-nav__logo {
        width: 120px;
        height: 22px; }
    .global-header .global-header-content .global-user-line {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 340px; }
      .global-header .global-header-content .global-user-line__user {
        width: 160px;
        display: flex;
        justify-content: space-between;
        align-items: center; }
      .global-header .global-header-content .global-user-line__user-name {
        display: flex;
        justify-content: space-between;
        width: 110px; }
        .global-header .global-header-content .global-user-line__user-name p {
          text-transform: uppercase;
          line-height: 3.33;
          letter-spacing: 1px;
          font-weight: 600;
          color: #33333a; }
      .global-header .global-header-content .global-user-line__user-photo {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden; }
        .global-header .global-header-content .global-user-line__user-photo img {
          width: 100%; }
      .global-header .global-header-content .global-user-line__tools {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 140px;
        align-items: center; }
      .global-header .global-header-content .global-user-line__tool {
        height: 20px;
        width: 20px; }
        .global-header .global-header-content .global-user-line__tool img {
          height: 20px;
          width: auto; }

.collections {
  margin: 65px auto; }
  .collections h1 {
    text-align: center; }
  .collections__baner {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    position: relative;
    width: 1140px;
    height: 420px;
    overflow: hidden; }
    .collections__baner .baner-img {
      width: 100%;
      height: 190%; }
    .collections__baner .label {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 100px;
      height: 20px;
      background-color: #ff5e1b;
      top: 30px; }
      .collections__baner .label p {
        color: #FFFFFF;
        text-transform: uppercase;
        letter-spacing: 0.5px; }
    .collections__baner h2 {
      position: absolute;
      top: 150px; }
    .collections__baner .btn-buy {
      position: absolute;
      top: 250px;
      width: 112px;
      height: 40px;
      line-height: 1.67;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #fff;
      background-color: #000000;
      font-weight: bold;
      border: none; }
    .collections__baner .btn-buy:hover {
      box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
      color: #cccccc; }
  .collections .collections__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    .collections .collections__content .product {
      margin-top: 60px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: 560px;
      width: 361px; }
      .collections .collections__content .product__img {
        width: 361px;
        height: 420px;
        overflow: hidden; }
        .collections .collections__content .product__img img {
          width: 100%;
          height: auto; }
      .collections .collections__content .product__description {
        width: 321px;
        margin: 0 auto; }
        .collections .collections__content .product__description p {
          font-size: 16px;
          line-height: 1.56;
          font-weight: normal; }
      .collections .collections__content .product__btn {
        width: 321px;
        margin: 0 auto; }
        .collections .collections__content .product__btn button {
          width: 112px;
          height: 40px;
          line-height: 1.67;
          letter-spacing: 2px;
          text-transform: uppercase;
          color: #fff;
          background-color: #000000;
          font-weight: bold;
          border: none; }
        .collections .collections__content .product__btn button:hover {
          box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
          color: #cccccc; }
    .collections .collections__content .product-wide {
      margin-top: 60px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: 560px;
      width: 750px; }
      .collections .collections__content .product-wide__img {
        width: 750px;
        height: 420px;
        overflow: hidden; }
        .collections .collections__content .product-wide__img img {
          width: auto;
          height: 100%; }
      .collections .collections__content .product-wide__description {
        width: 710px;
        margin: 0 auto; }
        .collections .collections__content .product-wide__description p {
          font-size: 16px;
          line-height: 1.56;
          font-weight: normal; }
      .collections .collections__content .product-wide__btn {
        width: 710px;
        margin: 0 auto; }
        .collections .collections__content .product-wide__btn button {
          width: 112px;
          height: 40px;
          line-height: 1.67;
          letter-spacing: 2px;
          text-transform: uppercase;
          color: #fff;
          background-color: #000000;
          font-weight: bold;
          border: none; }
        .collections .collections__content .product-wide__btn button:hover {
          box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
          color: #cccccc; }
  .collections__btn {
    display: flex;
    justify-content: center;
    margin-top: 40px; }
    .collections__btn .btn-more {
      line-height: 1.67;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #fff;
      background-color: #000000;
      font-weight: bold;
      border: none;
      width: 180px;
      height: 40px; }
    .collections__btn .btn-more:hover {
      box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
      color: #cccccc; }


/*# sourceMappingURL=homework_8.css.map*/